* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

.svg-legend {
  position: absolute;
  top: -99999px;
  left: -99999px;
}

img {
  max-width: 100%;
  height: auto;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.header {
  background: url('images/skyscraper.jpg');
  background-size: cover;
  background-position: center center;
  height: 520px;
  font-family: 'Lato', sans-serif;
}

.header-overlay {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}

.header-left {
  display: flex;
  align-items: center;
  position: absolute;
  top: 12px;
  left: 24px;
}

.logo, .nav, .header-icons {
  display: none;
}

.logo {
  width: 100px;
  height: 100px;
  background: url('images/profile.jpg');
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
  transition: .5s ease-in-out;
}

.logo:hover {
  width: 200px;
  height: 200px;
  border-radius: 0;
}

.nav-list {
  padding-left: 24px;
}

.nav ul li {
  display: inline-block;
  margin-right: 16px;
  cursor: pointer;
}

nav ul li a {
  color: #fff;
  text-transform: lowercase;
  font-size: 1.275rem;
  letter-spacing: .05em;
}

.nav ul li a:hover,
.nav ul li a:focus {
  color: #fff;
}

.title {
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
}

.title h1 {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: 400;
  margin-bottom: 1rem;
}

.title h2 {
  font-weight: 300;
  margin-bottom: 2.5rem;
}

.my-work {
  display: block;
  color: #fff;
  border: 1px solid #fff;
  text-align: center;
  width: 200px;
  padding: 10px;
  margin: auto;
  text-transform: uppercase;
  transition: .5s ease all;
  font-size: 1.25rem;
  letter-spacing: .1em;
}

.my-work:hover,
.my-work:focus {
  text-decoration: none;
  background: #fff;
  color: #000;
}

.header-icons {
  text-align: center;
  position: absolute;
  right: 24px;
  top: 24px;
}

.header-icons a {
  color: #fff;
  margin-left: 32px;
  font-size: 2.5rem;
  transition: .2s ease-in-out;
}

.header-icons a:hover,
.header-icons a:focus {
  text-decoration: none;
  color: #00d1d1;
}

.portfolio-banner {
  text-align: center;
  background-color: #eee;
  background: url('images/portfolio.jpeg');
  background-size: cover;
  background-position: center center;
  color: #fff;
  padding: 40px 0;
  position: relative;
}

.portfolio-banner:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 74, 74, 0.75);
  width: 100%;
  height: 100%;
}

.portfolio-banner h2 {
  margin-bottom: 40px;
}

.portfolio-banner p {
  font-size: 1.5rem;
  font-family: 'PT Serif', serif;
  display: inline-block;
  max-width: 920px;
  line-height: 36px;
}

.portfolio-banner h2,
.portfolio-banner p {
  position: relative;
  z-index: 1;
  color: #fff;
}

.portfolio {
  padding: 40px 0;
  text-align: center;
}

.portfolio h3 {
  font-family: 'Lato', sans-serif;
  margin-bottom: 20px;
}

.portfolio p {
  font-family: 'PT Serif', serif;
  font-size: 1.275rem;
  margin-bottom: 60px;
}

.portfolio a {
  display: inline-block;
  position: relative;
}

.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: .1em;
  opacity: 0;
  transition: .2s ease-in-out;
}

.portfolio a:hover .portfolio__overlay {
  opacity: 1;
}


.portfolio__overlay span {
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  border: 1px solid #fff;
  padding: 8px 16px;
  transition: .2s ease-in-out;
  font-weight: bold;
}

.portfolio__overlay span:hover {
  color: #000;
  background: #fff;
}

.portfolio:nth-child(odd) {
  background-color: #eee;
}

.portfolio img {
  box-shadow: 2px 2px 10px #808080;
  width: 100%;
  max-width: 620px;
}

.about-banner {
  text-align: center;
  background: url('images/about.jpeg');
  background-size: cover;
  background-position: center center;
  position: relative;
  padding: 40px 0;
}

.about-banner:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 74, 74, .8);
}

.about-banner p {
  max-width: 920px;
  display: block;
  margin: 40px auto;
  font-size: 130%;
  font-family: 'PT Serif', serif;
  letter-spacing: .1em;
  line-height: 34px;
}

.about-banner h2,
.about-banner p {
  position: relative;
  z-index: 1;
  color: #fff;
}

.heading {
  text-transform: uppercase;
  letter-spacing: .1em;
  font-family: 'Lato', sans-serif;
  display: block;
  border-bottom: 1px solid #d3d3d3;
  padding-bottom: 12px;
  width: 200px;
  margin: auto;
}

.contact {
  padding: 40px 0;
}

.contact h2 {
  margin-bottom: 20px;
}

.contact-icons {
  font-size: 1.5rem;
  padding: 20px;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

.contact-group {
  text-align: center;
  margin-bottom: 20px;
}

.contact-group .icon {
  width: 40px;
  height: 40px;
  margin-bottom: 20px;
}

footer {
  height: 420px;
  padding: 20px;
  background-color: #222;
  position: relative;
}

.footer-icons {
  position: relative;
  top: 60px;
}

.footer-icons a {
  font-size: 200%;
  color: #bbb;
  margin: 0 20px;
  transition: .2s ease-in-out;
}

.footer-icons a:hover,
.footer-icons a:focus {
  text-decoration: none;
  color: #00d1d1;
}

.footer-text {
  color: #bbb;
  position: relative;
  top: 100px;
}

.footer-text .heading {
  padding-bottom: 24px;
}

.footer-text p {
  padding-top: 20px;
}

.arrow {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 24px;
  font-size: 3rem;
}

.underline {
  width: 100px;
  margin-bottom: 30px;
}

/**** Skills Section ****/
.skills {
  background-color: #000;
  color: #fff;
  padding: 40px 0;
}

.skills-row {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
}

.skill {
  width: 100%;
}

.box {
  width: 60px;
  height: 60px;
  background-color: #244D4D;
  text-align: center;
  color: #fff;
  padding-top: 16px;
  font-size: 1.125rem;
}

.skill p {
  font-size: 1.125rem;
  position: relative;
  left: 70px;
  bottom: 46px;
}

.meter {
  height: 20px;
  background-color: #ccc;
  position: relative;
  bottom: 20px;
}

.level {
  background-color: #244D4D;
  height: 100%;
}

#html {
  width: 90%;
}

#css {
  width: 85%;
}

#js {
  width: 75%;
}

#jquery {
  width: 80%;
}

#vue {
  width: 70%;
}

#adobe {
  width: 70%;
}

@media (min-width: 768px) {
  .logo, .nav, .header-icons {
    display: block;
  }

  .header {
    height: 700px;
  }

  .title {
    top: 160px;
  }

  .title h1 {
    font-size: 3.75rem;
  }

  .portfolio-banner p {
    margin-bottom: 40px;
  }

  .skills-row {
    justify-content: space-between;
  }

  .skill {
    width: 48%;
  }

  .footer-icons a {
    font-size: 3rem;
    margin: 0 40px;
  }
}

@media (min-width: 1025px) {
  .title {
    top: 240px;
  }

  .title h1 {
    font-size: 4.25rem;
  }

  .portfolio {
    padding: 60px 0 80px 0;
  }

  .portfolio-banner {
    padding: 80px 0;
  }

  .about-banner {
    padding: 80px 0;
  }

  .skills {
    padding: 80px 0;
  }

  .skill {
    width: 31.3333%;
  }

  .contact {
    padding: 80px 0;
  }

  .contact h2 {
    margin-bottom: 60px;
  }

  .contact-icons {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contact-group {
    width: 33.3333%;
  }
}