body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: url('images/skyscraper.jpg');
  background-size: cover;
  background-position: center center;
  height: 700px;
  font-family: 'Lato', sans-serif;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  z-index: 500;
  width: 100%;
  height: 100%;
}

#logo {
  display: inline-block;
  width: 80px;
  height: 80px;
  background: url('images/me.jpg');
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
  margin: 20px;
  position: relative;
  left: 12px;
  bottom: 10px;
}

nav {
  font-size: 100%;
  width: 300px;
  position: relative;
  left: 90px;
  bottom: 96px;
}

nav ul {
  //border: 1px dotted green;
}

nav ul li {
  display: inline-block;
  margin: 0 8px;
  cursor: pointer;
  padding: 4px;
  //border: 1px solid white;
}

nav ul li a {
  color: white;
  text-transform: lowercase;
  font-size: 110%;
}

nav ul li a:hover {
  text-decoration: none;
  color: white;
}

#title {
  position: relative;
  top: 66px;
  color: white;
}

#title h1 {
  font-size: 420%;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: 400;
}

#title h2 {
  text-transform: lowercase;
  font-weight: 300;
}

#header-icons {
  font-size: 200%;
  //border: 1px solid white;
  width: 300px;
  text-align: center;
  position: absolute;
  right: -20px;
  top: 24px;
}

#header-icons a {
  color: white;
  margin-right: 20px;
}

#my-work {
  display: block;
  color: white;
  border: 1px solid white;
  text-align: center;
  width: 200px;
  padding: 10px;
  margin: auto;
  position: relative;
  top: 100px;
  text-transform: lowercase;
  border-radius: 4px;
  transition: .5s ease all;
  font-size: 120%;
}

#my-work:hover {
  text-decoration: none;
  background: white;
  color: black;
}

#portfolio-banner {
  height: 420px;
  text-align: center;
  background-color: #eee;
  background: url('images/portfolio.jpeg');
  background-size: cover;
  background-position: center center;
  color: white;
}

#overlay-portfolio {
  background: rgba(0, 102, 102, 0.6);
  z-index: 500;
  width: 100%;
  height: 100%;
  padding: 20px;
}

#portfolio-banner h2 {
  position: relative;
  top: 80px;
}

#portfolio-banner p {
  position: relative;
  top: 120px;
  font-size: 140%;
  font-family: 'PT Serif', serif;
  display: inline-block;
  width: 70%;
}

.portfolio {
  height: 600px;
  padding: 40px;
  text-align: center;
}

.portfolio h3 {
  font-family: 'Lato', sans-serif;
  margin-bottom: 20px;
}

.portfolio p {
  font-family: 'PT Serif', serif;
  font-size: 130%;
  margin-bottom: 60px;
}

.portfolio:nth-child(odd) {
  background-color: #eee;
}

.portfolio img {
  box-shadow: 2px 2px 10px grey;
}

#about-banner {
  text-align: center;
  height: 420px;
  background: url('images/about.jpeg');
  background-size: cover;
  background-position: center center;
}

#about-banner p {
  width: 80%;
  display: block;
  margin: 40px auto;
  font-size: 130%;
  font-family: 'PT Serif', serif;
  letter-spacing: .1em;
}

.overlay-two {
  background: rgba(0, 102, 102, 0.6);
  z-index: 500;
  width: 100%;
  height: 100%;
  padding: 20px;
  padding-top: 60px;
  color: white;
}

.heading {
  text-transform: uppercase;
  letter-spacing: .1em;
  font-family: 'Lato', sans-serif;
  display: block;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 12px;
  width: 200px;
  margin: auto;
}

#contact {
  height: 420px;
}

#contact h2 {
  position: relative;
  top: 80px;
}

.contact-icons {
  font-size: 180%;
  padding: 20px;
  position: relative;
  top: 140px;
  font-family: 'Lato', sans-serif;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.contact-group {
  text-align: center;
}

.contact-group i {
  font-size: 200%;
  margin-bottom: 20px;
}

footer {
  height: 420px;
  padding: 20px;
  background-color: #333;
  position: relative;
}

.footer-icons {
  position: relative;
  top: 60px;
}

.footer-icons a {
  font-size: 300%;
  color: #bbb;
  margin: 0 40px;
}

.footer-text {
  color: #bbb;
  position: relative;
  top: 100px;
}

.footer-text p {
  position: relative;
  top: 20px;
}

#arrow {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 40px;
  font-size: 300%;
}

.underline {
  width: 100px;
  margin-bottom: 30px;
}

/**** Skills Section ****/
#skills {
  background-color: black;
  color: white;
  padding: 40px 0;
}

.skills-row {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}

.box {
  width: 60px;
  height: 60px;
  background-color: #244D4D;
  text-align: center;
  color: white;
  padding-top: 14px;
  font-size: 120%;
}

.skill {
  //margin: 40px 20px;
}

.skill p {
  font-size: 120%;
  position: relative;
  left: 70px;
  bottom: 46px;
}

.meter {
  height: 20px;
  background-color: #ccc;
  position: relative;
  bottom: 20px;
}

.level {
  background-color: #244D4D;
  height: 100%;
}

#html {
  width: 90%;
}

#css {
  width: 85%;
}

#js {
  width: 75%;
}

#jquery {
  width: 80%;
}

#vue {
  width: 70%;
}

#adobe {
  width: 70%;
}

@media(max-width: 500px) {
  #logo, nav, #header-icons {
    display: none;
  }
  header {
    height: 500px;
  }
  #title {
    top: 160px;
  }
  #title h1 {
    font-size: 300%;
  }
  #title h2 {
    font-size: 160%;
  }
  #my-work {
    top: 200px;
  }
  #portfolio-banner p {
    width: 90%;
  }
  #overlay-portfolio {
    padding: 0;
  }
  .portfolio img {
    width: 100%;
  }
  #about-banner {
    height: 600px;
  }
  #about-banner p {
    width: 90%;
  }
  .skills-row {
    grid-template-columns: 1fr;
  }
  #contact {
    height: 660px;
  }
  .contact-icons {
    top: 100px;
    grid-template-columns: 1fr;
  }
  .contact-group {
    margin-bottom: 20px;
  }
}

@media(max-width: 786px) {
  #portfolio-banner p {
    width: 90%;
  }
  #about-banner p {
    width: 90%;
  }
  #contact {
    height: 620px;
  }
  .contact-icons {
    top: 100px;
    grid-template-columns: 1fr;
  }
}
