<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Weather App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Fugaz+One" rel="stylesheet">
    <link href="main.css" rel="stylesheet">
  </head>
  <body>

    <div id="app">
      <div class="container text-center">
        <div class="banner">
          <h1>Weather<i class="fas fa-umbrella"></i>Find</h1>
        </div>
        <form v-on:submit.prevent="findWeather()" id="searchForm">
          <input type="text" class="form-control" v-model="city" placeholder="search cities..." id="searchInput"/>
          <button class="btn btn-info btn-block">Submit</button>
        </form>

        <div v-if="showWeather" class="weather">
          <h1>{{ current.name }}</h1>
          <h3>{{ temp }}&deg;</h3>
          <div id="icon">
            <template v-if="main === 'Clear'"><i class="fas fa-sun"></i></template>
            <template v-else-if="main === 'Clouds'"><i class="fas fa-cloud"></i></template>
            <template v-else-if="main === 'Rain'"><i class="fas fa-cloud-showers-heavy"></i></template>
            <template v-else-if="main === 'Snow'"><i class="far fa-snowflake"></i></template>
            <template v-else-if="main === 'Smoke'"><i class="fas fa-smog"></i></template>
            <template v-else-if="main === 'Haze'"><i class="fas fa-smog"></i></template>
            <template v-else-if="main === 'Drizzle'"><i class="fas fa-cloud-rain"></i></template>
            <template v-else-if="main === 'Mist'"><i class="fas fa-cloud-rain"></i></template>
            <template v-else-if="main === 'Thunderstorm'"><i class="fas fa-bolt"></i></template>
          </div>
          <p id="description">{{ description }}</p>
          <p class="text">Sunrise &nbsp; {{ sunrise }}</p>
          <p class="text"> Sunset  &nbsp; {{ sunset }}</p>
          <p class="text">Humidity  &nbsp; {{ humidity }}&percnt;</p>
          <p class="text"> UV Index  &nbsp; {{ uvIndex }}</p>
        </div>

        <div class="forecast" v-if="showWeather">
          <h1>Hourly Forecast</h1>
          <div class="hourly row" v-for="unit in hourly">
            <div class="col-md-3">
              <h3 id="day">{{ unit.day }}</h3>
            </div>
            <div class="col-md-3">
              <h3>{{ unit.time }}</h3>
            </div>
            <div class="col-md-3">
              <h3>{{ unit.temp }}&deg;</h3>
            </div>
            <div class="col-md-3 hourly-icon" v-bind:class="{yellow : unit.main === 'Clear', lightgrey : unit.main === 'Clouds', grey : unit.main === 'Rain'}">
              <template v-if="unit.main === 'Clear'"><i class="fas fa-sun"></i></template>
              <template v-else-if="unit.main === 'Clouds'"><i class="fas fa-cloud"></i></template>
              <template v-else-if="unit.main === 'Rain'"><i class="fas fa-cloud-showers-heavy"></i></template>
              <template v-else-if="unit.main === 'Snow'"><i class="far fa-snowflake"></i></template>
              <template v-else-if="unit.main === 'Smoke'"><i class="fas fa-smog"></i></template>
              <template v-else-if="unit.main === 'Haze'"><i class="fas fa-smog"></i></template>
              <template v-else-if="unit.main === 'Drizzle'"><i class="fas fa-cloud-rain"></i></template>
              <template v-else-if="unit.main === 'Mist'"><i class="fas fa-cloud-rain"></i></template>
              <template v-else-if="unit.main === 'Thunderstorm'"><i class="fas fa-bolt"></i></template>
            </div>
          </div>
        </div>

      </div>
      <div class="footer">

      </div>
    </div>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="main.js"></script>
  </body>
</html>
