body {
  margin: 0;
  padding: 0;
  background-color: #eee;
}

#logoText {
  position: relative;
  left: 40px;
  top: 4px;
  font-family: 'Racing Sans One', cursive;
}

#welcome {
  position: relative;
  left: 240px;
  top: 8px;
}

.icon {
  font-size: 200%;
  position: relative;
  right: 250px;
  color: #c61609;
}

.navbar {
  height: 50px;
  padding: 20px;
  background-color: #eee;
}

.navbar a {
  color: #000;
}

.navbar a:hover {
  text-decoration: none;
}

.link {
  transition: color .3s;
}

.link:hover {
  color: #bbb;
}

.navbar i {
  margin-right: 5px;
}

.navbar ul {
  list-style-type: none;
  position: relative;
  right: 40px;
  top: 8px;
}

.navbar ul li {
  display: inline-block;
  margin-right: 8px;
}

.jumbotron {
  height: 400px;
  border-radius: 0;
  background-image: url('http://s1.1zoom.net/big0/967/372948-blackangel.jpg');
  background-size: cover;
  background-position: center center;
  margin-bottom: 0;
}

.footer {
  position: relative;
  height: 300px;
  background-color: #4b4f4c;
  color: #fff;
}

.footer p {
  position: relative;
  top: 160px;
}

.footer a {
  color: #fff;
}

.footer-icons {
  position: absolute;
  top: 80px;
  right: 180px;
  font-size: 300%;
}

.footer-icons i {
  margin-right: 10px;
  transition: color .3s;
}

.footer-icons i:hover {
  color: #ccc;
}

#footer-logo {
  position: relative;
  top: 100px;
  font-family: 'Racing Sans One', cursive;
}

.footer-logo-icon {
  font-size: 200%;
  position: absolute;
  right: 592px;
  top: 90px;
}

/**** New CSS ****/
.container {
  width: 60%;
  padding: 40px 0;
  font-family: 'Maven Pro', sans-serif;
}

h1 {
  font-family: 'Maven Pro', sans-serif;
}

#bmi-form {
  margin: 40px auto;
}

#bmi-div {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
}

.badge {
  padding: 8px;
  margin-top: 20px;
  font-size: 80%;
}

#food-form {
  margin: 40px auto;
}

#table {
  margin: 40px auto;
  background-color: white;
}

.delete {
  padding: 4px;
  background-color: #333;
  color: white;
}

#total-calories {
  margin: 0 auto;
  margin-bottom: 40px;
}

#total-calories span {
  font-size: 120%;
}
