<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>NASA Test</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono|Press+Start+2P" rel="stylesheet">
    <link href="main.css" rel="stylesheet">
  </head>
  <body>

    <div id="app">

      <header>
        <div class="row">
          <div class="col-md-4">
            <img src="nasa2.png" width="500" height="auto">
          </div>
          <div class="col-md-8">
            <h2>Potentially-Hazardous Asteroid Tracker</h2>
          </div>
        </div>
      </header>

      <div class="container text-center">
        <h3>Pick a date and start tracking asteroids!</h3>
        <form class="form-inline" id="form" v-on:submit.prevent="findAsteroids()">
          <input type="date" id="date" class="form-control" v-model="date">
          <input type="submit" value="Find Asteroids!" class="form-control btn btn-primary">
        </form>

        <table class="table table-striped" v-if="showTable">
          <thead class="thead-dark">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Max Diameter(ft)</th>
              <th scope="col">Velocity(mph)</th>
              <th scope="col">Miss Distance(mi)</th>
              <th scope="col">Potentially Hazardous</th>
            </tr>
          </thead>
          <tbody id="table-body">
            <tr v-for="asteroid in asteroidArray" v-bind:class="{true: asteroid.is_potentially_hazardous_asteroid}">
              <td>{{ asteroid.id }}</td>
              <td>{{ asteroid.name }}</td>
              <td>{{ asteroid.estimated_diameter.feet.estimated_diameter_max }}</td>
              <td>{{ asteroid.close_approach_data[0]["relative_velocity"]["miles_per_hour"] }}</td>
              <td>{{ asteroid.close_approach_data[0]["miss_distance"]["miles"] }}</td>
              <td>{{ asteroid.is_potentially_hazardous_asteroid }}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="main.js"></script>
  </body>
</html>
