body {
  background-color: black;
  color: white;
}

header {
  border: 1px solid black;
  height: 300px;
  font-family: 'Press Start 2P', cursive;
  color: white;
  background: url('space2.jpeg');
  background-size: cover;
  background-position: center top;
}

.col-md-4 {
  height: 300px;
  padding-top: 20px;
}

.col-md-4 img {
  position: relative;
  left: 40px;
}

.col-md-8 {
  text-align: center;
  padding-top: 100px;
}

.col-md-8 h2 {
  line-height: 1.5em;
}

.container h3 {
  font-family: 'IBM Plex Mono', monospace;
  color: #98f791;
  margin: 20px 0;
}

#form {
  display: block;
}

.table {
  background-color: white;
  color: black;
  margin: 40px 0;
}

.true {
  color: red;
  font-weight: bold;
}
