<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Movie Test</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="main.css" rel="stylesheet">
  </head>
  <body>

    <div id="app">
      <div class="jumbotron">
        <div class="logo">
          <a class="title" href="index.html">MovieInfo</a><i class="fas fa-film"></i>
        </div>
      </div>

      <div class="container text-center">
        <div class="search" v-if="!showMovieSelected">
          <h3>Search For Movies</h3>
          <form id="search-form" v-on:submit.prevent="getMovies()">
            <input type="text" class="form-control" placeholder="Search Movies..." v-model="searchText">
          </form>
        </div>

        <div class="movies" v-if="!showMovieSelected">
          <div class="row">
            <div class="col-md-3" v-for="movie in movies">
              <img v-bind:src="movie.Poster" width="100%" height="340"/>
              <h5>{{ movie.Title }}</h5>
              <button class="btn btn-primary" v-on:click="selectMovie(movie.imdbID)">Movie Details</button>
            </div>
          </div>
        </div>

        <div class="movie-selected text-left" v-if="showMovieSelected">

          <div class="row">
            <div class="col-md-4">
              <img v-bind:src="movieSelected.Poster" class="thumbnail">
            </div>
            <div class="col-md-8">
              <h2 class="movie-title">{{ movieSelected.Title }}</h2>
              <ul class="list-group">
                <li class="list-group-item"><strong>Genre:</strong> {{ movieSelected.Genre }}</li>
                <li class="list-group-item"><strong>Released:</strong> {{ movieSelected.Released }}</li>
                <li class="list-group-item"><strong>Rated:</strong> {{ movieSelected.Rated }}</li>
                <li class="list-group-item"><strong>IMDB rating:</strong> {{ movieSelected.imdbRating }}</li>
                <li class="list-group-item"><strong>Director:</strong> {{ movieSelected.Director }}</li>
                <li class="list-group-item"><strong>Writer:</strong> {{ movieSelected.Writer }}</li>
                <li class="list-group-item"><strong>Actors:</strong> {{ movieSelected.Actors }}</li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h3>Plot</h3>
              <p>{{ movieSelected.Plot }}</p>
              <hr>
              <a v-bind:href="url" target="_blank" class="btn btn-primary">View IMDB</a>
              <button class="btn btn-primary" v-on:click="showMovieSelected = false">Back to Search</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="main.js"></script>
  </body>
</html>
