body {
  background-color: black;
  color: white;
}

.jumbotron {
  text-align: center;
  height: 200px;
  background: url('movie.jpeg');
  background-size: cover;
  background-position: center top;
}

.logo {
  margin: 0 auto;
  text-align: center;
  width: 20%;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  color: white;
  padding: 2px 20px;
  font-size: 180%;
  cursor: pointer;
}

.logo i {
  color: gold;
  position: relative;
  left: 4px;
  font-size: 140%;
}

.title {
  font-family: 'Pacifico', cursive;
  font-size: 120%;
  color: white;
  margin-right: 12px;
}

.title:hover {
  text-decoration: none;
  color: white;
}

.search {
  width: 60%;
  margin: 40px auto;
}

.search h3 {
  font-family: 'Pacifico', cursive;
  color: lightgreen;
  margin-bottom: 20px;
}

.movies {
  padding-bottom: 40px;
}

.col-md-3 {
  margin: 20px 0;
}

.movies h5 {
  margin: 12px 0;
}

.movie-title {
  color: lightgreen;
  margin-bottom: 40px;
}

.movie-selected {
  padding-bottom: 40px;
}

.movie-selected h3 {
  color: lightgreen;
}

.list-group {
  color: black;
}

.movie-selected .col-md-12 {
  margin: 20px 0;
}

.movie-selected .col-md-12 h3 {
  color: gold;
}

.movie-selected .col-md-12 p {
  font-size: 120%;
}
